@font-face {
  font-family: "Press Start 2P";
  src: url("../font/PressStart2P.ttf");
}

.root {
  -fx-font-family: "Press Start 2P";
  -fx-background-color: black;
}

.howToPlay  {
  -fx-font-size: 18px;
}