@font-face {
  font-family: "Press Start 2P";
  src: url("../font/PressStart2P.ttf");
}

.root {
  -fx-font-family: "Press Start 2P";
  -fx-background-image: url("../image/background/home.png");
}

.scoreBoard {
  -fx-font-family: "Press Start 2P";
  -fx-font-size: 26px;
}

.btn {
  -fx-font-family: "Press Start 2P";
  -fx-background-color: black;
  -fx-text-fill: red;
  -fx-font-size: 26px;
}

.btn:pressed {
  -fx-text-fill: #00ff0b;
}

.helpBtn {
  -fx-font-family: "Press Start 2P";
  -fx-background-color: black;
  -fx-text-fill: blue;
  -fx-font-size: 26px;
}

.helpBtn:pressed {
  -fx-text-fill: #a3f3ff;
}

.nameTextBox {
  -fx-border-radius: 0 0 0 0;
  -fx-background-radius: 0 0 0 0;
  -fx-font-family: "Press Start 2P";
  -fx-background-color: black;
  -fx-text-fill: white;
  -fx-font-size: 22px;
}